/*font-family: 'Playfair Display SC', serif;

font-family: 'Fauna One', serif;*/

/* Small screens (default) */
html { font-size: 100%; }

/* Medium screens (640px) */
@media (min-width: 40rem) {
  html { font-size: 100%; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) {
  html { font-size: 120%; }
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  border: 1px solid black;
}

html {
  background: url('../images/cloudShadowsOnMountains.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header, footer {
  height: 5rem;
  width: 100%;
  flex: 1 0 auto;
}

header {
  /*background-color: grey;*/
  font-family: 'Playfair Display SC', serif;
  text-align: center;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /*background-color: blue;*/
  margin: 0 auto;
  max-width: 46rem;
  flex: 1 0 auto;
}

form {
  height: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 18.5rem;
  width: 20rem;
  margin: 0.25rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.5rem;
}

.item .result > p {
  color: antiquewhite;
}

.result {
  height: 90%;
  overflow: scroll;
  font-family: 'Fauna One', serif;
  flex: 2 0 auto;
}

.control {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10%;
}

input, button {
  margin: 0.1rem 0.2rem;
  height: 1.8rem;
}

button {
  margin-right: 0.5rem;
  padding     : 0;
  border      : 0;
  background  : transparent;
  font-family : inherit;
  font-size   : 1em;
  cursor      : pointer;
}

button::-moz-focus-inner{
  padding : 0;
  border  : 0;
}

button span {
  display: block;
  /*background       : rgb(192,192,192);*/
  background-image: linear-gradient(top, rgba(255,255,255,0) 0%, #fff 5%, #fff 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 5%, #fff 100%);
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 5%, #fff 100%);
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 5%, #fff 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 5%, #fff 100%);
}

button > span{
  border        : 1px solid rgb(128,128,128);
  border-radius : 4px;
  font-family: 'Playfair Display SC', serif;
  padding     : 2px 8px;
  line-height : 16px;
}

button > span > span{
  border        : 1px solid rgb(192,192,192);
  border-radius : 3px;
  padding: 4px;
}

footer {
  background-color: lightgrey;
}

/* Medium screens (640px) */
@media (min-width: 40rem) {
  .item {
    width: 19.5rem;
  }
}
