/*font-family: 'Playfair Display SC', serif;

font-family: 'Fauna One', serif;*/

/* Small screens (default) */
html { font-size: 100%; }

/* Medium screens (640px) */
@media (min-width: 40rem) {
  html { font-size: 100%; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) {
  html { font-size: 120%; }
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  border: 1px solid black;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

header, footer {
  height: 5rem;
  width: 100%;
}

header {
  background-color: grey;
  font-family: 'Playfair Display SC', serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: blue;
  margin: 0 auto;
  max-width: 46rem;
}

.result {
  height: 85%;
  overflow: scroll;
  font-family: 'Fauna One', serif;
}

.control {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 15%;
}

input, button {
  margin: 0.1rem 0.2rem;
  height: 1.8rem;
}

button {
  margin-right: 0.5rem;
}

.item {
  height: 18.5rem;
  width: 20rem;
  background-color: red;
  margin: 0.25rem;
}

footer {
  background-color: lightgrey;
}
